.contenedor-contacto {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background: transparent;
  border: 2px solid rgba(10, 152, 177, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  padding: 20px;
}

.contacto-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.contacto-contenido {
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contacto-error {
  background-color: steelblue;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
}

.contacto-formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacto-formulario label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #333;
}

.contacto-formulario input,
.contacto-formulario textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.contacto-formulario input:focus,
.contacto-formulario textarea:focus {
  border-color: #00bcd4;
  outline: none;
}

.contacto-formulario textarea {
  resize: none;
  height: 120px;
}

.contacto-formulario button {
  padding: 15px;
  background-color: #00bcd4;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.contacto-formulario button:hover {
  background-color: #008c9e;
  transform: scale(1.05);
}