body {
  margin: 0;
  font-family: sans-serif;
  background-image: url('../assets/fond.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
  position: relative;
}

.contenedor-principal {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: white;
}

.sidebar nav a {
  display: block;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.sidebar nav a:hover {
  color: #00bcd4;
}

.contenido {
  margin-left: 10px; 
  padding: 20px;
}

#quien-soy {
  margin-top: 20px;
}

.tarjeta {
  margin: 20px auto;
}
